<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../assets/img/contacto.jpg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form class="login100-form"
        autocomplete="off"
        [formGroup]="formularioContacto"
        (ngSubmit)="enviarEmail()">

    <span class="login100-form-title p-b-49">
      <h1>Contacto</h1>
    </span>

    <div class="wrap-input100 m-b-23">
      <span *ngIf="esValido('email')" 
    class="form-text text-danger">Debe tener el formato example@mail.com</span>          
        <input class="input100"
              type="email"
              formControlName="email"
              placeholder="Introduce tu email">
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 m-b-23">
      <span *ngIf="esValido('subject')" class="form-text text-danger">Debe tener al menos 6 caracteres</span>
      <input class="input100"
            type="text"
            formControlName="subject"
            placeholder="¿Sobre qué necesitas informacion?">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
      <span *ngIf="esValido('texto')" class="form-text text-danger">Debe tener al menos 6 caracteres</span>
        <input class="input100"
              type="text"
              formControlName="texto"
              placeholder="Cuéntame...">
        <span class="focus-input100"></span>
    </div>

    <div class="text-right p-t-8 p-b-31"></div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit"
            class="login100-form-btn">
                Enviar
            </button>
        </div>
    </div>
  </form>
  <div class="contactar">
    <div>
      <p>También puedes contactar conmigo a través de mi <a href="mailto:asier.biota@gmail.com">correo personal</a> o mis redes sociales: </p>
    </div>
    <div class="iconos">
      <a target="_blank" href="https://www.facebook.com/asierbiota">
        <img src="../../../assets/img/icons/049-facebook.svg">
      </a>   
      <a target="_blank" href="https://www.instagram.com/asierbiota">
        <img src="../../../assets/img/icons/060-instagram.svg">
      </a>   
    </div>
 

  </div>
      </div>
  </div>
</div>

