mat-card-image{
  height: 100% !important;
  margin: 0 -47px 0px -18px;
}

img {
  max-width: 100%;
  min-height: 100%;
}

h1{
    font-size: 3rem !important;
}


/*botones*/
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

button{
  width: 6rem;
  /* font-family: Roboto !important; */
  font-family: 'Myfont' !important;
}

.login100-form-btn{
  font-size: 1.3rem;
}

span{
  font-family: 'MyFont' !important;
}

.wrap-login100-form-btn{
  width: 100%;

}


@media(min-width: 1024px){
  .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

}



/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { */
@media (min-width: 768px){
  
  img{
    width:50%;
  }
  mat-card{
    display: flex;
    height: 100% !important;
  }

  .info{
    margin: 5rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
 
}

@media (max-width: 768px){
  img{
    margin: 0 !important;
  }
}



/* Tablet - movil */
@media (min-width: 320px) and (max-width: 768px){
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
  }

  button{
    width: 6rem;
  }


  .info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  mat-card-actions{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 0;
  }
}

@media(max-width:679px){
  h1{
    font-size: 3rem !important;
}
}

@media (min-width: 992px){
    .info{
    margin-left: 3rem !important;
  }
}

@media(max-width: 1024){
  .buttons{
    margin-left:0 !important;
}
}

@media (min-width: 1400px){
  .info{
    margin-left: 5rem !important;
  }
}
