<mat-card>
  
    <img [routerLink]="['/pictures',picture._id]" mat-card-image src="../../../../assets/img/prueba.jpg">
  
   
  <div class="info">
    <mat-card-content>
      <h1>{{picture.nombre}}</h1>
      <h3>{{picture.annio}}</h3>
      <p>
        <strong>Técnica:</strong> {{picture.tecnica}}
        <br>
        <strong>Sobre:</strong> {{picture.soporte}}
        <br>
        <strong>Medidas:</strong> {{picture.medidas}}
      </p>

    </mat-card-content>

  <!-- espacio especial para botones -->
    <mat-card-actions>

        <div  *ngIf="admin"
              class="buttons">
          <button mat-raised-button color="warn" [routerLink]="['/pictures/configurar/editar',picture._id]" >Editar</button>
          <button mat-raised-button color="warn" (click)="borrarPicture()">Borrar</button>
        </div>

        <div class="buttons">

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn"[routerLink]="['/pictures',picture._id]">
                  Leer más 
                </button>
            </div>
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn"[routerLink]="['/pictures',picture._id]">
                  Comprar
                </button>
            </div>
        </div>

          <!-- <div *ngIf="user"></div> tengo que hacer global la figura del user-->
        </div>

    </mat-card-actions>

  </div>

</mat-card>
  <mat-divider></mat-divider>
