.landing
{
  height: 100%;
  width: 100%;
}

h1{
  color:white;
  text-shadow: 8px 5px 3px #000000 !important;
}

.limiter
{
  height: 1000px;
}

.landing-container{
  height: 100%;
  width: 100%;
  background-image: url('../../assets/img/listado.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;

}

.titulo
{
  background-image: url('../../assets/img/clouds.png');
  align-self: center;
}

h1{
  text-shadow: 8px 5px 3px #000000;
  letter-spacing: 0 !important;
  font-size: 10vw !important;
}

