

<div class="formulario-agregar">

  <div class="titulo">
    <h1>
      Actualizar {{picture.nombre}}
    </h1>
  

<form [formGroup]="miFormulario" (ngSubmit)="actualizar()">

      <!-- nombre -->
      <div class="form-group input-group-lg wrap-input100 m-b-23">
        <span *ngIf="esValido('nombre')" class="form-text text-danger">Debe tener al menos 2 caracteres</span>
        <input  class="form-control input100"
                placeholder="Nombre de la obra"
                formControlName="nombre">
        <span class="focus-input100"></span>

      </div>

      <!-- annio -->
      <div class="form-group input-group-lg wrap-input100 m-b-23">
        <span *ngIf="esValido('annio')" class="form-text text-danger">Debe tener al menos 2 caracteres</span>
        <input  class="form-control input100"
                placeholder="Año de creación"
                formControlName="annio">
        <span class="focus-input100"></span>
      </div>
      
      <!-- serie poner deplegable -->
     
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Selecciona la serie" formControlName="serie">
          <mat-option *ngFor="let serie of series" 
                      [value]="serie.id">
            {{serie.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- medidas -->
      <div class="form-group input-group-lg wrap-input100 m-b-23">
        <span *ngIf="esValido('medidas')" class="form-text text-danger">Debes introducir las medidas</span>
        <input  class="form-control input100"
                placeholder="Medidas"
                formControlName="medidas">
        <span class="focus-input100"></span>
      </div>

      <!-- tecnica -->
      <div class="form-group input-group-lg wrap-input100 m-b-23">
        <span *ngIf="esValido('tecnica')" class="form-text text-danger">Debes añadir una técnica</span>
        <input  class="form-control input100"
                placeholder="Ténica"
                formControlName="tecnica">
        <span class="focus-input100"></span>
      </div>

      <!-- soporte -->
      <div class="form-group input-group-lg wrap-input100 m-b-23">
        <span *ngIf="esValido('soporte')" class="form-text text-danger">Debes añadir un soporte</span>
        <input  class="form-control input100"
                placeholder="Soporte"
                formControlName="soporte">
        <span class="focus-input100"></span>
      </div>

    <!-- precio-->
    <span *ngIf="esValido('precio')" class="form-text text-danger">Debes añadir un precio</span>
    <div class="form-group input-group-lg wrap-input100 m-b-23 ">
      <input  class="form-control input100"
              placeholder="¿Cuál es su precio?"
              formControlName="precio">
      <span class="focus-input100"></span>
    </div>

    <!-- disponible-->
    <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled"
          formControlName="disponible">
          ¿Está disponible esta obra?
      </mat-slide-toggle>
    </section>
    
    <!-- File Input -->
    <div>
      <div class="form-group input-group-lg image">
        <input type="file" (change)="uploadFile($event)">
      </div>
    </div>

      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit"
                    class="login100-form-btn">
                Añadir
            </button>
        </div>
      </div>


    </form>
  </div>
</div>
