
.wrap-login100-form-btn{
  width: 12rem;;
}

.text-danger{
  color: rgba(199, 11, 11, 0.932);
  position:absolute;
  
}
.wrap-input100{
  display: flex;
  flex-direction: column;
  align-items: center;
}
