<form *ngIf="user" class="login100-form"
      autocomplete="off"
      [formGroup]="formularioEditar"
      (ngSubmit)="actualizar()">

  <span class="login100-form-title p-b-49">
  <h1>Hola,{{user.name}}</h1>
  <h2 ></h2>
  </span>
  <p style="text-align:center"><strong>¿Quieres actualizar alguno de tus datos?</strong></p>
  <div class="wrap-input100 m-b-23">
    <span *ngIf="esValido('name')"
    class="form-text text-danger">Debe tener al menos 2 caracteres</span>
    <input class="input100"
          type="text"
          formControlName="name"
          placeholder="{{user.name}}">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span *ngIf="esValido('email')" 
    class="form-text text-danger">Debe tener el formato example@mail.com</span>          <input class="input100"
             type="email"
             formControlName="email"
             placeholder="{{user.email}}">
      <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100">
    <span *ngIf="esValido('password')" class="form-text text-danger">Debe tener al menos 6 caracteres</span>
    <input class="input100"
             type="password"
             formControlName="password"
             placeholder="Contraseña (mínimo 6 caracteres)">
      <span class="focus-input100"></span>
  </div>

  <div class="text-right p-t-8 p-b-50"></div>

  <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button type="submit"
          class="login100-form-btn"
          [disabled]="formularioEditar.invalid">
              Actualizar
          </button>
      </div>
  </div>
</form>

