.user-container
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

mat-list{
  margin-bottom: 2rem;
}

.buttons
{
  margin-top: 1rem;
}

.titulo{
  text-align: center;
}

form{
 margin-top: 2rem;
}

.image{
  margin: 2rem 0 ;
}
