
  <h1>
    {{(picture._id)? 'Editar Obra' : 'Nueva obra'}}
      <small>{{picture.nombre}}</small>
    </h1>

    <div  fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="40px">

      <div fxFlex="50" fxLayout="column">


        <form [formGroup]="miFormulario" (ngSubmit)="save()">
          <!-- Progress Bar -->
          <div class="progress form-group" *ngIf="this.percentDone">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [style.width.%]="this.percentDone">
            </div>
          </div>

          <!-- Image Preview -->
          <div class="form-group">
            <div class="preview" *ngIf="preview && preview !== null">
              <img [src]="preview" [alt]="miFormulario.value.nombre">
            </div>
          </div>

          <!-- File Input -->
          <div class="form-group">
            <input type="file" (change)="uploadFile($event)">
          </div>

          <!-- nombre -->
          <div class="form-group input-group-lg">
            <input class="form-control" placeholder="nombre" formControlName="nombre">
          </div>

          <!-- annio -->
          <div class="form-group input-group-lg">
            <input class="form-control" placeholder="annio" formControlName="annio">
          </div>

          <!-- serie -->
          <div class="form-group input-group-lg">
            <input class="form-control" placeholder="serie" formControlName="serie">
          </div>

          <!-- medidas -->
          <div class="form-group input-group-lg">
            <input class="form-control" placeholder="medidas" formControlName="medidas">
          </div>

          <!-- tecnica -->
          <div class="form-group input-group-lg">
            <input class="form-control" placeholder="tecnica" formControlName="tecnica">
          </div>

          <!-- soporte -->
          <div class="form-group input-group-lg">
            <input class="form-control" placeholder="soporte" formControlName="soporte">
          </div>

        <!-- disponible -->
        <div class="form-group input-group-lg">
          <input class="form-control" placeholder="disponible" formControlName="disponible">
        </div>

        <!-- precio -->
        <div class="form-group input-group-lg">
          <input class="form-control" placeholder="precio" formControlName="precio">
        </div>

          <!-- Submit -->
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block btn-lg">Create User</button>
          </div>
        </form>



      </div>





    </div>

