<form [formGroup]="miFormulario" (ngSubmit)="save()">
  <!-- Progress Bar -->

  <!-- Image Preview -->
  <div class="form-group">
    <div class="preview" *ngIf="preview && preview !== null">
      <img [src]="preview" [alt]="miFormulario.value.precio">
    </div>
  </div>

  <!-- File Input -->
  <div class="form-group">
    <input type="file" (change)="uploadFile($event)">
  </div>

  <!-- Name -->
  <div class="form-group input-group-lg">
    <input class="form-control" placeholder="Name" formControlName="nombre">
  </div>

  <!-- annio -->
  <div class="form-group input-group-lg">
    <input class="form-control" placeholder="annio" formControlName="annio">
  </div>
    <!-- serie -->
  <div class="form-group input-group-lg">
    <input class="form-control" placeholder="serie" formControlName="serie">
  </div>

    <!-- medidas -->
  <div class="form-group input-group-lg">
    <input class="form-control" placeholder="medidas" formControlName="medidas">
  </div>

    <!-- tecnica -->
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="tecnica" formControlName="tecnica">
    </div>

      <!-- soporte -->
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="soporte" formControlName="soporte">
    </div>

    <!-- disponible -->
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="disponible" formControlName="disponible">
    </div>

      <!-- precio -->
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="precio" formControlName="precio">
    </div>

    <!-- Submit -->
    <div class="form-group">
      <button class="btn btn-danger btn-block btn-lg">Añadir obra</button>
    </div>
</form>
