
<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../assets/img/sobre-mi.jpg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <div class="descripcion">
        <p>"La pintura ha sido siempre la base fundamental de mi trabajo, con ella me distraigo y sueño imposibles en un ejercicio vital mas allá de la belleza. <br>
        El retrato no solo destapa la carne, el estudio del cuerpo humano y el poder infinito del color a  través de las formas orgánicas forman parte de la psicología de mi lenguaje. <br>
        El paisaje imaginario quiere reivindicar la línea curva de la naturaleza y el pensamiento,  arquitecturas oníricas que se integran en el medio natural como posibles ciudades del futuro. 
        Sientes la necesidad de elaborar un discurso, desde tu presente, hasta el invisible horizonte del  futuro. <br>
        Y ahí estan los miedos, las luchas, los sentimientos, los sueños, los mundos nuevos.. Es una actitud, en ella me encuentro"
        </p>
        <h1 style="text-align: end;">Asier Biota</h1>

      </div>

      </div>
  </div>
</div>

