  <div class="limiter">
    <div class="container-login100" style="background-image: url('../../../assets/img/listado.jpg');">
      <h1>Nosotros los pueblos</h1>
    </div>
  </div>
<mat-card class="my-alternate-theme">
</mat-card>
<div *ngFor="let picture of pictures">
  <app-picture-tarjeta [picture] = "picture"></app-picture-tarjeta>
</div>
<mat-card class="my-alternate-theme">
  <button mat-raised-button color="accent">Leer mas</button>
  <button mat-raised-button color="primary">Comprar</button>
  <button mat-raised-button color="warn">Editar</button>
  <button mat-raised-button color="warn">Borrar</button>
</mat-card>
