<div class="limiter">
  <mat-card>

    <!-- <img [src]="picture.imagen" class="mr-3" [alt]="picture.nombre"> -->

    <!-- <img  mat-card-image
          src="assets/pictures/{{picture.imagen}}"
          style="width:20%"> -->

    <!-- ES ESTAAA<img  mat-card-image src="./images/{{picture.imagen}}"> -->
    <img [routerLink]="['/pictures',picture._id]" mat-card-image src="../../../../assets/img/prueba.jpg">


  <!-- <img mat-card-image [src]="picture | imagen"> -->
    <div class="info">
      <div class="titulo">
        <h1 class="titulo-obra">{{picture.nombre | uppercase}}</h1>
      </div>
      <mat-card-content>
        <p>
          <strong>Año:</strong> {{picture.annio}}
          <br>
          <strong>Serie:</strong> {{picture.serie}}
          <br>
          <strong>Técnica:</strong> {{picture.tecnica}}
          <br>
          <strong>Sobre:</strong> {{picture.soporte}}
          <br>
          <strong>Medidas:</strong> {{picture.medidas}}
        </p>

      </mat-card-content>

    <!-- espacio especial para botones -->
    <mat-card-actions>

      <div  *ngIf="admin"
            class="buttons">
        <button mat-raised-button color="warn" [routerLink]="['/pictures/configurar/editar',picture._id]" >Editar</button>
        <button mat-raised-button color="warn" (click)="borrarPicture()">Borrar</button>
      </div>
        

      <!-- <div *ngIf="user"></div> tengo que hacer global la figura del user-->
      <div class="buttons">
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn"[routerLink]="['/contacto']">
                + info 
              </button>
          </div>
        </div>
        <div *ngIf="logueado" class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Comprar
              </button>
          </div>
        </div>

      </div>

    </mat-card-actions>


    </div>

  </mat-card>
</div>