.wrap-login100-form-btn {
  width: 100% !important;
}

.container-login100-form-btn {
  display: block;
}

.titulo{
  margin-top: 12rem;;
}
h1{
  color: white;
  text-shadow: 2px 4px 4px #000000d4 !important;
}