<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../assets/img/404.jpg');">
    <div class="titulo">
      <h1>¿Te perdiste?</h1>
      <br>
      <h2>Vuelve para estar a salvo</h2>
    
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit"
                    class="login100-form-btn">
                    <mat-icon routerLink="" >home</mat-icon>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>