.user-container
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

mat-list{
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons
{
  margin-top: 1rem;
}

h1{
  text-shadow: 8px 5px 3px #000000;
  letter-spacing: -9px;
}
@media screen and (max-width: 361px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
@media(max-width:679px){
  h1{
    font-size: 3rem !important;
}
}

h1{
  font-size: 4rem !important;
}