<mat-sidenav-container fullscreen>

  <!--nav desplegado completo-->
  <mat-sidenav #sidenav mode="over">

    <!--nav top desplegado morado-->
    <mat-toolbar color="secondary">


      <!--para poner cada icono en la izq y otro a la dcha-->
      <span class="spacer"></span>

      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

    </mat-toolbar>

    <!--listado de enlaces del nav-->
    <mat-nav-list>

      <a  routerLink="" 
          mat-list-item 
          (click)="sidenav.toggle()">
        <mat-icon mat-list-icon></mat-icon>
        <span>Home</span>
      </a>

      <a  routerLink="/pictures/listado/el-cuerpo-orografico" 
          mat-list-item 
          (click)="sidenav.toggle()">
        <span>El cuerpo orográfico</span>
      </a>

      <a  routerLink="/pictures/listado/www1" 
          mat-list-item 
          (click)="sidenav.toggle()">
        <span>WWI</span>
      </a>

      <a  routerLink="/pictures/listado/las-formas-del-desnudo" 
          mat-list-item 
          (click)="sidenav.toggle()">
        <span>Las formas del desnudo</span>
      </a>

      <a routerLink="/pictures/listado/nosotros-los-pueblos" 
          mat-list-item 
          (click)="sidenav.toggle()">
        <span>Nosotros los pueblos</span>
      </a>

      <a  routerLink="" 
          mat-list-item 
          (click)="sidenav.toggle()">
        <span>Sobre mí</span>
      </a>

      <a  routerLink="/contacto" 
          mat-list-item 
          (click)="sidenav.toggle()">
        <span>Contacto</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <!--nav top antes de desplegar (menu-logout negro)-->
  <mat-toolbar>

    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>fingerprint</mat-icon>
    </button>
    <button mat-icon-button>
      <span routerLink="" >ASIER BIOTA</span>
    </button>
    <!--para poner cada icono en la izq y otro a la dcha-->
    <span class="spacer"></span>

    <span *ngIf="user">{{user.name}}</span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
      <mat-icon>accessibility_new</mat-icon>
    </button>
        <!--si estas logueado que salga el salir y el resto de botones de usuario
            sino que salga el boton del login y el de registro
            -->
    <mat-menu #menu="matMenu">
      <button  *ngIf="!user" mat-menu-item
              routerLink="/users/login">
        <mat-icon>transfer_within_a_station</mat-icon>
        <span >Login</span>
      </button>
      <button *ngIf="!user"
              mat-menu-item
              routerLink="/users/registro">
        <mat-icon>person_add</mat-icon>
        <span >Registro</span>
      </button>
      <div *ngIf="user">
      <button mat-menu-item
              routerLink="/users/usuario/{{user._id}}">
        <mat-icon>mood</mat-icon>
        <span >Mis datos</span>
      </button>
      <div *ngIf="admin">
        <button mat-menu-item
                routerLink="/users/listado">
        <mat-icon>group</mat-icon>
          <span>Listado usuarios</span>
        </button>

        <button  mat-menu-item
                [routerLink]="['/pictures/configurar/agregar']">
          <mat-icon>palette</mat-icon>
          <span>Añadir</span>
        </button>
      </div>
      <button mat-menu-item
              (click)="logout()">
        <mat-icon>directions_run</mat-icon>
        <span>Salir</span>
      </button>
    </div>

    </mat-menu>

  </mat-toolbar>

  <!--Aquí muestro las vistas de agregar, listado, busqueda-->
  <div class="container" >
  <!-- aqui es donde tengo que poner la landing si la ruta es tal? -->

    <router-outlet></router-outlet>
  </div>
<app-footer></app-footer>
</mat-sidenav-container>

